<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzing your text...</title>
</head>
<body>
    <button onclick="window.location.href='/'">back to home</button>
    <!-- <a href="/"><-- back to home</a> -->
    <h1>Your analyzed text for removing punctuations ==> {{purpose}}</h1>
    <p>
        {{remove_punctuations}}
    </p>
    <h1>Your analyzed text for capitalizing ==> {{purpose}}</h1>
    <p>
        {{CAPITALIZED}}
    </p>
    <h1>Your analyzed text for capitalizing ==> {{purpose}}</h1>
    <p>
        {{NewLineRemover}}
    </p>
    <h1>Your analyzed text for Removing extra spaces ==> {{purpose}}</h1>
    <p>
        {{spaceremover}}
    </p>
    <h1>Your analyzed text for Counting Characters ==> {{purpose}}</h1>
    <p>
        {{charcounter}}
    </p>
</body>
</html> 