<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excercise 1</title>
</head>
<body>
    <a href="/"><-- Back to Home!</a>
    <center>
        <h1>Personal Navigator</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Favourite Websites</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: center;">1</td>
                    <td style="text-align: center;"><a href="https://github.com/Algos-bySchizo/Django"">Github</a></td>
                    <td style="text-align: center;">Github is a very powerful open source platform for coders that allows developers to unite and 
                        build projects together remotely!
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">2</td>
                    <td style="text-align: center;"><a href="https://github.com/Algos-bySchizo/Django"">Github</a></td>
                    <td style="text-align: center;">Github is a very powerful open source platform for coders that allows developers to unite and 
                        build projects together remotely!
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">3</td>
                    <td style="text-align: center;"><a href="https://github.com/Algos-bySchizo/Django"">Github</a></td>
                    <td style="text-align: center;">Github is a very powerful open source platform for coders that allows developers to unite and 
                        build projects together remotely!
                    </td>   
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>