<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>
<body>
    <h1>Welcome to text analyzer. Enter your text below</h1>
    <form action="/analyze" method="get">
        <textarea name='text' style='width: 771px; height: 141px;'></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuations!<br> 
        <!-- the name="removepunc" is a variable inside the views.py module 
        and if its checked that returns a value of true which means on in the console    -->
        <input type="checkbox" name="capitalize">CAPITALIZE!<br>
        <button type="submit">analyze text!</button><br>
    </form>
    <!-- <a href="/ex1">Excercise 1</a> -->
</body>
</html> 